<div class="row">
  <div class="large-12 columns">
    <div class="fade">
      <div><%= image_tag "market.jpg" %></div>
      <div><%= image_tag "go_fish_truck.jpg" %></div>
      <div><%= image_tag "coffee_shop.jpg" %></div>
    </div>

    <hr/>
  </div>
</div>

<div class="row" id="featured_vendor_row">
  <div class="large-4 columns">
    <div class="featured_vendor_image"><%= link_to image_tag("featured_1.jpg"), vendor_path(3) %></div>
    <h4 class="featured_vendor_h4">Zinneken's Waffles</h4>
    <div class="featured_vendor_text"><%= Vendor.find(3).bio %></div>
  </div>

  <div class="large-4 columns">
    <div class="featured_vendor_image"><%= link_to image_tag("featured_2.jpg"), vendor_path(7) %></div>
    <h4 class="featured_vendor_h4">Roxy's Grilled Cheese</h4>
    <div class="featured_vendor_text"><%= Vendor.find(7).bio %></div>
  </div>

  <div class="large-4 columns">
    <div class="featured_vendor_image"><%= link_to image_tag("featured_3.jpg"), vendor_path(6) %></div>
    <h4 class="featured_vendor_h4">Chicken &amp; Rice Guys</h4>
    <div class="featured_vendor_text"><%= Vendor.find(6).bio %></div>
  </div>
</div>
