<div>
<br>
<%= "Pending Vendors" %>
<% @approvals.each do |vendor| %>
  <ul>
    <li>
    <%= link_to vendor.vendor_name, vendor_path(vendor) %>
    <%= form_for vendor do |f| %>
    <%= f.hidden_field :viewable, method: :put %>
    <%= f.submit "Approve" %>
    <% end %>
    <%= button_to "Delete", vendor_path(vendor), method: :delete %>
    </li>
  </ul>
<% end %>
</div>
