<div class="row collapse">
  <h3>Add Review:</h3>
  <%= form_for [@vendor, @review] do |f| %>
    <%= f.collection_radio_buttons(:rating, (1..5), :to_s, :to_s) do |b| %>
      <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %>
    <% end %>
    <%= f.label :body, "Comments:" %>
    <%= f.text_field :body %>
    <%= f.submit %>
  <% end %>
</div>
