<h5 class="vendor_index_headers">Add a Vendor</h5>
<%= form_for @new_vendor do |f| %>

  <%= f.label :vendor_name, 'Vendor Name' %>
  <%= f.text_field :vendor_name %>

  <%= f.collection_select(:category_ids, Category.all, :id, :category_name, { :prompt => 'Select a Category' }, :required => true ) %>

  <%= f.submit 'Add Vendor' %>
<% end %>
