<div class="row">
  <div class="large-4 small-12 columns">

    <%= image_tag "vendors_index_logo.jpg"%>

    <div>
      <h3 class="vendor_index_headers">Vendors Index</h3>
    </div>

    <div>
      <%= render "search_bar" %>
    </div>

    <div class="vendor_form_spacing">
      <% if user_signed_in? %>
        <%= render "vendor_form" %>
      <% end %>
    </div>

    <div>
      <% if current_user.try(:admin?) %>
        <%= render "manage_vendors" %>
      <% end %>
    </div>

    <div>
      <% if current_user.try(:admin?) %>
        <%= render "manage_owners" %>
      <% end %>
    </div>


  </div>

  <div class="large-8 columns">
    <div class="row">

      <% @vendors.each do |vendor| %>
        <div class="large-4 small-6 columns">
          <%= link_to image_tag("http://placehold.it/1000x1000&text=Thumbnail"), vendor_path(vendor) %>
            <div class="vendor_index_panel">
              <h5 class="vendor_index_headers"><%= link_to vendor.vendor_name, vendor_path(vendor) %></h5>
              <% vendor.categories.each do |cat| %>
              <h6><%= cat.category_name %></h6>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  <%= paginate @vendors %>

  </div>
</div>
