<div class="row">
  <div class="large-6 columns">
   <%= image_tag "vendor_stock.jpg"%>
  </div>
  <div class="large-6 columns">
    <h3 class="show-for-small vendor_details_headers">Header<hr/></h3>
    <div class="panel">
      <h4 class="hide-for-small vendor_details_headers"><%= @vendor.vendor_name %><hr/></h4>
      <h5 class="subheader vendor_details_headers">@vendor.bio</h5>
    </div>
  </div>
</div>

<div class="row" id="vendor_reviews_row">
  <div class="large-12 columns">
    <div class="panel">

      <% if @vendor.claimed_status != "Claimed" %>
        <% if signed_in? %>
          <%= form_for @vendor do |f| %>
            <%= f.hidden_field :claimed_status, :claimed_status => "Pending" , method: :patch%>
            <%= f.submit "Claim Business" %>
          <% end %>
        <% end %>
      <% end %>

      <% if signed_in? %>
        <%= render "review_form"%>
      <% end %>

      <div class="reviews_header_style">Reviews:</div>
         <% @reviews.each do |review| %>
           <div class="review">
             <div class="rating_style">Rating: <%= review.rating %> out of 5</div>
             <div>Review Score: <%= review.vote_value %></div>
             <div><%= review.user.email %></div>
             <div><%= review.created_at.strftime('%A %B %e, %Y') %></div>
             <div class="review_comments_style">Review Comments:</div>
             <div class="review_body">"<%= review.body %>"</div>

            <% if signed_in? %>

              <%= form_for [@vendor, review, @vote ], :html => {class: 'upvote'} do |f| %>
                <%= f.hidden_field :value, :value => 1 %>
                <%= f.submit "Up" %>
              <% end %>

              <%= form_for [@vendor, review, @vote ], :html => {class: 'downvote'} do |f| %>
                <%= f.hidden_field :value, :value => -1 %>
                <%= f.submit "Down" %>
              <% end %>

              <% if current_user.id == review.user_id %>
                <%= button_to "Delete Review", vendor_review_path(@vendor, review), method: :delete, form_class: "delete_review" %>
              <% end %>
            <% end %>

              <div class="comment_block">
            <% if !review.comments.empty? %>
                  <div class="owner_comment">Owner Comments:</div>
                <% review.comments.each do |comment| %>
                <div class="comment_spacing">
                  <div class="comment_created_at"><%= comment.created_at.strftime('%A %B %e, %Y') %></div>
                  <div class="comment_body">"<%= comment.comment_body %>"</div>
                </div>
              <% end %>
            <% end %>

            <% if signed_in? %>

              <% if current_user.id == @vendor.owner_id && @vendor.claimed_status == "Claimed" %>
                <%= form_for [@vendor, review, @comment], :html => {class: 'reply_spacing'} do |f| %>
                  <%= f.label :comment_body, "Reply to review:" %>
                  <%= f.text_field :comment_body %>
                  <%= f.submit "Add Reply" %>
                <% end %>
              <% end %>
            <% end %>
          </div>

           </div>
         <% end %>
    </div>
  </div>
</div>
